/*-- CSS Reset --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*-- Main structural styling--*/
body {
    background: #f7f7f7;
    color: #333;

}

article{
    background: #f7f7f7;
    padding: 10px;
    height: 400px;
}

.gridimage{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
section, header, footer {
    width: 80%;
    max-width: 700px;
    margin: auto;
    padding: 0;
}

section{
    margin-bottom: 4rem;
}

h1{
    padding: 1rem;
    position: absolute;
    width: 414px;
    height: 129px;
    margin-left: auto;
    margin-top: 10em;
    margin-bottom: 1em;
    font-family: gill-sans-nova-extra-condens, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: auto;
    color:black;
    text-shadow: -20px 0px 0px #ff0000;
    font-size: 5.8rem;
}

h2{
    font-family: gill-sans-nova-extra-condens, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: black;

}

h3{
    font-family: gill-sans-nova-extra-condens, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.7rem;
    color: black;
}
/*-- styling Typography--*/
h1, h2, blockquote, header {
    padding: 1rem 0;   
}

.yellow{
    background-color: #ffbb00;

}

p{
    color:#333;
    padding: 1em 0 ;
    line-height: 1.4;
    margin-left: 2em;
}

h1{
    margin-left: 2rem;
}
hr{
    margin: 100px 0;
    height: 1px;
    background-color: #4f014c;
    color: #4f014c;
    border: 0 none;
}

/*-- styling nav--*/
nav{ 
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #ffbb00;
    padding: 2em 0;
    font-size: 1rem;
    font-family: gill-sans-nova-extra-condens, sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav ul{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li{
    display: inline;
    margin: 20px;
}

nav a{
    color: #ff0000;
}

nav a:hover{
    border-bottom: none;
    color: #000000;
    transition: all 0.3s ease-in-out;
}