/*-- CSS Reset --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*-- Main structural styling--*/
body {
    background: #f7f7f7;
    color: #333;

}

article{
    background: #f7f7f7;
    padding: 10px;
    height: 400px;
}

.gridimage{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
section, header, footer {
    width: 80%;
    max-width: 700px;
    margin: auto;
    padding: 0;
}

section{
    margin-bottom: 2rem;
}

h1{
    padding: 1rem;
    position: absolute;
    width: 414px;
    height: 129px;
    margin-left: 20em;
    
    margin-bottom: 1em;
    font-family: gill-sans-nova-extra-condens, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: auto;
    color:black;
    text-shadow: -12px 0px 0px #ff0000;
    font-size: 7rem;
}

h2{
    font-family: gill-sans-nova-extra-condens, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: black;
    margin-bottom: 1em;

}

h3{
  color: #f7f7f7;
  font-size: 2rem;
}




/*-- styling Typography--*/
h1, h2,h3, blockquote, header {
    padding: 1rem 0;   
}

blockquote{
    font-family: orbitron, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    hanging-punctuation: first;
    text-indent: -0.8rem;
}

.yellow{
    background-color: #ffbb00;

}
.white{
    background-color: #f7f7f7;
}
.black{
    background-color: black;
    color: rgb(107, 107, 107);
}

p{
    color:#333;
    padding: 1em 0 ;
    line-height: 1.4;
    margin-left: 2em;
    font-size: 1rem;
}


h1{
    margin-top: -43rem;
    margin-left: 2rem;
}

section, header{
    margin-top: 3em;
    
}

/*-- styling nav--*/
nav{ 
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0em;
    width: 100%;
    background: #ffbb00;
    padding: 2em 0;
    font-size: 1.2rem;
    font-family: gill-sans-nova-extra-condens, sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav ul{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li{
    display: inline;
    margin: 20px;
}

nav a{
    color: #ff0000;
}

nav a:hover{
    border-bottom: none;
    color: #ffbb00;
    transition: all 0.3s ease-in-out;
}

footer{
    text-align: center;
    font-size: 0.75rem;
    margin: 6em 0 3em 0;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2em;
}

