/*-- CSS Reset --*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*-- Main structural styling--*/

body {
    background: #f7f7f7;
    color: #333333
}

section, head {
    width: 80%;
    max-width: 700px;
    margin: auto;
}

section, blockquote {
width: 80%;
max-width: 700px;
}
head, p{
    color: #000000;
}

/*-- Styling typography --*/

h1,h3 {
    color:#e97430
}

h2 {
    color: #521e00;
}

section, blockquote {
    margin-bottom: 2rem;
    line-height: 1.4;
    margin-top: 0em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

blockquote{
    font-family: alana,sans-serif;
    font-weight: 800;
    font-style: normal;
}

section{
    margin-top: -2em;
    margin-bottom: 0em;
    padding-bottom: 2em;
    padding-top: 1em;
}
h1 {
    font-size: 5.653rem;
    margin-top: -3em;
    margin-left: 1em;
    font-family: nelson-rugged,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 1.999rem;
    margin: 3em 0 1em 0;
}

h3{
    font-size: 3.440rem;
    margin-top: 0.5em;
    margin-left: 3em;
    font-family: nelson-rugged,sans-serif;
    font-weight: 400;
    font-style: normal;
}


blockquote {
    font-size: 1.414rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -1rem;
    background-color: #ED7002;
    width: 100%;
    max-width: 700px;
    padding: auto;
}

.blockquote {
    background:#ED7002;
}

cite {
    font-size: 0.8em;
    color: #333333;
    font-style: normal;
}

header {
    font-size: 2.827rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1.5em;
    margin-left: 2em;
}
h4{
    font-size: 3.440rem;
    margin-top: 0.5em;
    margin-left: 3em;
    font-family: nelson-rugged,sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#e97430 ;

}

header, p {
    font-size: 1.3rem;
    margin-left: 2em;

}

/*-- Styling links --*/
a {
    color: #ffbb00;
     text-decoration: none;
}

a:hover {
    color: rgb(211, 122, 5);
    border-bottom: 1px dotted;
}

.dark {
    background: #9b3a02;
}


.mornings {
    background: #ff9e20;
}

.street {
    background: #da5b2a;
    
}
/*-- Styling nav --*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #9b3a02;
    padding: 2em 0;
    font-size: 0.75rem;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px
}

nav ul li {
    display: inline;
    margin: 20px
}

nav a {
    color: #f7f7f7;
}

nav a:hover {
    border-bottom: none;
    color: #ffd000;
    transition: all 0.3s ease-in-out
}

hr {
    margin: 100px 0;
    height: 1px;
    background-color: hsl(24, 71%, 35%);
    color: #4f014c;
    border: 0 none;
}

footer {
    text-align: center;
    font-size: 0.75rem;
    margin: -8em 0 5em 0;
    background: #f04400;
    background-color: #da4910;
}

footer, h3 {
    margin-left: 0em;
}


p {
    margin-top: 1em;
}
