/*-- CSS Reset --*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*-- Main structural styling--*/

body {
    background: #f7f7f7;
    color: #333333
}

section, header {
    width: 80%;
    max-width: 700px;
    margin: auto;
}

/*-- Styling typography --*/

h1, h2,h3 {
    color:#bd4500
}

blockquote {
    margin-bottom: 2rem;
    line-height: 1.4;
    margin-top: 2em;
}

h1 {
    font-size: 5.653rem;
    margin-top: 2em;
}

h2 {
    font-size: 1.999rem;
    margin: 3em 0 1em 0;
}

h3{
    font-size: 3.440rem;
    margin-top: 0.5em;
}

blockquote {
    font-size: 1.414rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.75rem
    
}

cite {
    font-size: 0.8em;
    color: #333333;
    font-style: normal;
}

header h2 {
    font-size: 2.827rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1.5em
}

header p {
    font-size: 1.3rem
}

/*-- Styling links --*/
a {
    color: #e43500;
     text-decoration: none;
}

a:hover {
    color: rgb(211, 122, 5);
    border-bottom: 1px dotted;
}

.dark {
    background: #ff7626;
}

/*-- Styling nav --*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #5a2100;
    padding: 2em 0;
    font-size: 0.75rem;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px
}

nav ul li {
    display: inline;
    margin: 20px
}

nav a {
    color: #f7f7f7;
}

nav a:hover {
    border-bottom: none;
    color: #e43500;
    transition: all 0.3s ease-in-out
}

hr {
    margin: 100px 0;
    height: 1px;
    background-color: hsl(24, 71%, 35%);
    color: #4f014c;
    border: 0 none;
}

footer {
    text-align: center;
    font-size: 0.75rem;
    margin: 6em 0 3em 0
}